{#- Define ESC/P2 Commands as Variables -#}
{%- set ESC = '\x1b' -%}
{%- set CR = '\x0d' -%}
{%- set LF = '\x0a' -%}
{%- set FF = '\x0c' -%}
{%- set NEWLINE = CR+LF -%}
{%- set SET_UNIT = ESC + '(U' + chr(1) + chr(0) + chr(10) -%}
{%- set INIT = ESC + '@' -%}
{%- set MARGIN_INCH = 0.5 -%}
{%- set ESCP = ESC + 'P' -%}{#- Selects 10.5-point, 10-cpi character printing -#}
{%- set ESCl = ESC + 'l' -%}{#- Left Margin -#}
{%- set ESCQ = ESC + 'Q' -%}{#- Right Margin -#}
{%- set PAGE_LENGTH = ESC + '(C' + chr(2) + chr(0) + chr(120) + chr(15) -%}{#- Page Length -#}
{%- set PAGE_FORMAT = ESC + '(c' + chr(4) + chr(0) + chr(0) + chr(1) + chr(196) + chr(14) -%}{#- Page top and bottom Margin -#}
{%- set ASSIGN_CHAR_TABLE = ESC + '(t' + chr(3) + chr(0) -%}{#- Assign Character Table: d1,d2,d3 -#}
{%- set SET_CHAR_TABLE = ESC + 't' -%}{#- Set Character Table: n -#}
{%- set SET_POINT = ESC + 'X' -%}{#- Set font pitch and point: m nl nh -#}
{%- set SET_BOLD = ESC + 'E' -%}{#- Set Bold -#}
{%- set UNSET_BOLD = ESC + 'F' -%}{#- Unset bold -#}
{%- set SET_FONT = ESC + 'k' -%}{#- Set font -#}
{%- set SET_HORI_POS = ESC + '$' -%}{#- Set absolute horizontal position: nl,nh -#}
{%- macro set_hori_pos(position_inch) -%}
{#- Position from margin = position from edge - margin -#}
{%- set pos_from_margin = position_inch -%}
{%- set units = (pos_from_margin * 360)|int -%}
{{- SET_HORI_POS -}}{{- chr(units % 256) -}}{{- chr(units // 256) -}}
{%- endmacro %}
{%- macro set_left_right_margin(margin_inch=MARGIN_INCH, paper_width_inch=8.5) -%}
{{ ESCP }}{{ ESCl }}{{ chr((margin_inch*10)|int) }}{{ ESCQ }}{{ chr(((paper_width_inch-margin_inch)*0)|int) }}
{%- endmacro -%}
{% macro set_font(font=1) -%}
{{ SET_FONT }}{{ chr(font) }}
{%- endmacro %}
{%- macro set_char_table(table=1) -%}
{{- SET_CHAR_TABLE -}}{{- chr(table) -}}
{%- endmacro -%}
{%- macro set_font_size(point_size, proportional=true) -%}
{%- set m = 1 if proportional else 0 -%}
{%- set n = point_size * 2 -%}
{{- SET_POINT -}}{{- chr(m) -}}{{- chr(n % 256) -}}{{- chr(n // 256) -}}
{%- endmacro -%}
{%- set FONT_1 = set_char_table() + set_font_size(30) + set_font(7) -%}{#- Set font TITLE -#}
{%- set FONT_2 = set_char_table() + set_font_size(14) + set_font(7) -%}{#- Set font Subtitle -#}
{%- set FONT_3 = set_char_table() + set_font_size(20) + set_font(0) -%}{#- Set font TITLE 2 -#}
{%- set FONT_4 = set_char_table() + set_font_size(12) + set_font(0) -%}{#- Set font Body -#}
{%- set FONT_5 = set_char_table(3) + set_font_size(12) + set_font(0) -%}{#- Set font Arabic -#}
{#- Initialize Printer -#}
{{- INIT -}}
{{- SET_UNIT -}}
{{- ESCP -}}
{{- set_left_right_margin() -}}
{{- PAGE_LENGTH -}}
{{- PAGE_FORMAT -}}
{{- ASSIGN_CHAR_TABLE+chr(0)+chr(0)+chr(0) -}}
{{- ASSIGN_CHAR_TABLE+chr(1)+chr(1)+chr(0) -}}
{{- ASSIGN_CHAR_TABLE+chr(3)+chr(13)+chr(0) -}}
{#- Print Data -#}
{{- FONT_1 -}}{{- set_hori_pos(3) -}}Food City WLL{{- NEWLINE -}}{{- NEWLINE -}}
{{- FONT_2 -}}{{- set_hori_pos(2.5) -}}CR No. 72659, Bldg. 1108, Road/Street 1120{{- NEWLINE -}}
{{- FONT_2 -}}{{- set_hori_pos(2.2) -}}Riffa/Al Shargi, Southern Governorate. Block.911{{- NEWLINE -}}
{{- FONT_2 -}}{{- set_hori_pos(3.5) -}}Kingdom of Bahrain{{- NEWLINE -}}
{{- NEWLINE -}}
{{- NEWLINE -}}
{{- NEWLINE -}}
{{- FONT_3 -}}{{- set_hori_pos(3.5) -}}{{- SET_BOLD -}}Delivery Slip{{- UNSET_BOLD -}}{{- NEWLINE -}}
{{- NEWLINE -}}
{{- NEWLINE -}}
{{- FONT_4 -}}{{- SET_BOLD -}}Source Location: {{ UNSET_BOLD -}}MCK/Store
{{- set_hori_pos(8.5-3.1) -}}{{- SET_BOLD -}}DN Reference: MK/FT/02791{{- UNSET_BOLD -}}{{- NEWLINE -}}
{{- FONT_4 -}}{{- SET_BOLD -}}Location Code: {{ UNSET_BOLD -}}MKSTOCK
{{- set_hori_pos(8.5-3.1) -}}{{- SET_BOLD -}}Shipping Date: {{ UNSET_BOLD }}13/10/2025 18:02:56{{- NEWLINE -}}
{{- FONT_5 -}}{{- SET_BOLD -}}Destination Location: {{ UNSET_BOLD -}}[GS019] Al‑Dair Primary & Intermediate School for Girls | مدرسة الدير الابتدائية الإعدادية للبنات{{- NEWLINE -}}
{{- FONT_4 -}}{{- SET_BOLD -}}Location Code: {{ UNSET_BOLD -}}GALALI - 1{{- NEWLINE -}}



{#- End with form feed to eject page (optional) -#}
{{- FF -}}{{- INIT -}}
